# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular tools for Data Science
* List popular languages for Data Science
* Show examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. NumPy
2. Matplotlib
3. Pandas

|Data Science Tools|
|------------------|
|Git|
|MySQL|
|Apache SparkSQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jo√£o Paulo